# Determinación distancia entre dos bases de datos

## 0. Se cargan las bibliotecas

In [1]:
import numpy as np
import pandas as pd

## 1. Se leen los datos y se definen los parametros relevantes

In [16]:
data_AMB = pd.read_excel("datos_procesados_local_amb.xlsx", index_col=0)
data_LOW_COST = pd.read_excel("datos_procesados_local_low_cost.xlsx", index_col=0)

In [17]:
data_AMB

                    PM2.5 UG/M3
Date&Time
2018-10-01 00:00:00         6.4
2018-10-01 01:00:00         6.4
2018-10-01 02:00:00         6.7
2018-10-01 03:00:00           6
2018-10-01 04:00:00         7.3
...                         ...
2019-08-31 19:00:00        20.4
2019-08-31 20:00:00        18.7
2019-08-31 21:00:00        22.8
2019-08-31 22:00:00        25.2
2019-08-31 23:00:00          18

[8030 rows x 1 columns]